@model IEnumerable<ConsultorioWeb.Models.Paciente>

@{
    ViewBag.Title = "Pacientes";
}


<div id="main" class="container-fluid">
    <div id="top" class="row">
        <div class="col-sm-3">
            <h2>Pacientes</h2>
        </div>
        <div class="col-sm-6">

            <div class="input-group h2">
                <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar paciente">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>

        </div>
        <div class="col-sm-3">
            @Html.ActionLink("Novo", "Create", "Paciente", new { @class = "btn btn-primary pull-left h2" })
        </div>
    </div> <!-- /#top -->

    <hr>
    <div id="list" class="row">

        <div class="table-responsive col-md-12">
            <table class="table table-striped" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Id)</th>
                        <th>@Html.DisplayNameFor(model => model.Nome)</th>
                        <th>@Html.DisplayNameFor(model => model.Cpf)</th>
                        <th>@Html.DisplayNameFor(model => model.Telefone)</th>
                        <th>@Html.DisplayNameFor(model => model.Endereco)</th>
                        <th>@Html.DisplayNameFor(model => model.Numero)</th>
                        <th>@Html.DisplayNameFor(model => model.Bairro)</th>
                        <th>@Html.DisplayNameFor(model => model.Cidade)</th>
                        <th>@Html.DisplayNameFor(model => model.Convenio)</th>
                        <th></th>
                        <th class="actions">Ações</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                            <td>@Html.DisplayFor(modelItem => item.Cpf)</td>
                            <td>@Html.DisplayFor(modelItem => item.Telefone)</td>
                            <td>@Html.DisplayFor(modelItem => item.Endereco)</td>
                            <td>@Html.DisplayFor(modelItem => item.Numero)</td>
                            <td>@Html.DisplayFor(modelItem => item.Bairro)</td>
                            <td>@Html.DisplayFor(modelItem => item.Cidade)</td>
                            <td>@Html.DisplayFor(modelItem => item.Convenio)</td>
                            <th></th>
                            <td class="actions">
                                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" })
                                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" })
                                @Html.ActionLink("Excluir", "Delete", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div> <!-- /#list -->

    <div id="bottom" class="row">
        <div class="col-md-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div> <!-- /#bottom -->
</div>

